@charset "utf-8";
body {
    color: #000000;
}
.title1 {
    color: #8619CE;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}
.main1 {
    color: #F15C5E;
    text-align: center;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}
#caption img {
    -webkit-box-shadow: 19px 16px;
    box-shadow: 19px 16px;
}
#maincontent img {
}
